@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: no-repeat url(/images/bg-intro-mobile.png), #ff7a7a;
  background-size: contain;
  width: 375px;
  max-height: auto;
  min-height: 1000px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  body main {
    min-width: 425px;
    width: auto;
    min-height: 1027px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: no-repeat url(/images/bg-intro-desktop.png), #ff7a7a;
    width: 1440px;
    min-height: 800px;
    max-height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body main div#information-card {
  width: 327px;
  height: 226px;
  color: white;
  margin-top: 88px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#information-card {
    width: 525px;
    height: 220px;
    text-align: left;
  }
}

body main div#information-card h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.29px;
  height: 80px;
  margin: 0px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#information-card h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.52px;
    height: 131px;
  }
}

body main div#information-card p {
  height: 130px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#information-card p {
    height: 142px;
  }
}

body main div#try-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 327px;
  height: 554px;
  margin-top: 64px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#try-card {
    width: 540px;
    height: 474px;
  }
}

body main div#try-card .try-information {
  background-color: #5e54a4;
  height: 88px;
  color: white;
  -webkit-box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
          box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#try-card .try-information {
    width: 540px;
    height: 60px;
  }
}

body main div#try-card .try-information p {
  width: 194px;
  height: 52px;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.27px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#try-card .try-information p {
    width: 319px;
    height: 26px;
    font-weight: 400;
  }
}

body main div#try-card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
          box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  margin-top: 24px;
  width: 327px;
  height: 442px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#try-card form {
    width: 540px;
    height: 474px;
  }
}

body main div#try-card form input {
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 279px;
  height: 56px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3e3c49;
  opacity: 75%;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#try-card form input {
    width: 460px;
    height: 78px;
  }
}

body main div#try-card form input[value] {
  padding-left: 19.41px;
}

body main div#try-card form input:first-child {
  margin-top: 24px;
}

body main div#try-card form input#submit {
  background-color: #38cc8c;
  color: white;
  margin-bottom: 8px;
  text-transform: uppercase;
}

body main div#try-card form input#submit[value] {
  padding-left: 0;
}

body main div#try-card form p.click-information {
  width: 249px;
  height: 42px;
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #b9b6d3;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body main div#try-card form p.click-information {
    margin-top: 0;
    width: 369px;
    height: 26px;
    line-height: 26px;
  }
}

body main div#try-card form p.click-information span {
  color: #ff7a7a;
}
/*# sourceMappingURL=style.css.map */